# APIのURL
api='http://localhost:8080/curltest.php'

# GET
urlparam="\
?get1=get_sample1\
&get2=get_sample2\
"

<<COMMENTOUT
# POST
post="\
post1=post_sample1\
&post2=post_sample2\
"

# PUT
put="\
put1=put_sample1\
&put2=put_sample2\
"

# ヘッダー
cookie=''
COMMENTOUT
